@import url(../recursos/klein.condensed-trial-extrabold.ttf);
@import url(../recursos/jane-roe.bold-italic.ttf);


*{
    font-family: sans-serif;
   
}

body {
    transition: background-color 0.5s ease;
    margin: 0;
}

.contenedor {
    background-image: url(../assets/fondo-jordan2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.contenedor-slider {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;



}

.logo-boton-ver {

    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo-boton-ver-mob {
    display: none;
}

.boton-ver {

    text-decoration: none;
    color: black;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
    font-family: sans-serif;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;



}

.slides {
    height: 700px;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
   
   
}

.slide {
    min-width: 100%;
    text-align: center;

}

.slide img {
    transform: rotate(-25deg);
    height: 600px;


}

.sombra {

    width: 35vw;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 0 auto 30px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 10px;


}

.sombra-blanca {
    width: 35vw;
    height: 40px;
    background-color: rgba(255, 251, 251, 0.781);
    margin: 0 auto 30px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 5px rgb(216, 216, 216);
}

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev,
.next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 25px;
    cursor: pointer;
    border-radius: 50%;


}

.contenedor-talle-color{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
   
}

.talles{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-right:79%;

}

.sizes-p{
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    
}

.talles__lista{
    display: flex;
    list-style:none;
    align-items: center;
    flex-wrap: wrap;
   width: 250px;
    
}

.talles__item{
    text-align: center;
    width: 20px;
    color: white;
    margin: 5px;    
    font-size: 15px;
    padding: 14px 14px;
    border-radius: 10px;
    border: 2px solid white;
    
}


.colores__lista {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    


}

.colores__item {

    margin: 0 10px 0 10px;
}

.colores__img {
    height: 35px;
    border-radius: 10px;
    border: solid 2px rgb(175, 172, 172)
}

.brillo {
    box-shadow: 0 0 10px 3px white;
}



/* ---- FOOTER ---- */
.footer-fondo1{
    background-color: black;
}
.footer-fondo2{
    background-color: #0088A2;
}
.footer-fondo3{
    background-color: #b3745e;
}
.footer-fondo4{
    background-color: #A9A77B;
}
.footer-fondo5{
    background-color: #9b7356;
}

.footer-fondo6{
    background-color: #97091c;
}
.footer-fondo7{
    background-color: black;
}



.div-apoyo-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    flex-wrap: wrap;
    padding: 100px;
    
    
}

.footer__div {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer__h3 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'titulo';
}

.footer_list {
    list-style: none;
}

.footer_list li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.footer_list li a:hover {
    color: rgb(203, 203, 203);
    transition: all.5s;
}

.redes {
    display: flex;
}



.redes img {
    height: 40px;
    margin: 5px;
}

.footer__informativo {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid white 1p;
}

.footer__informativo__div {
    display: flex;
    align-items: center;
    padding: 20px;
    
    
}

.footer__informativo__div img {
    height: 20px;
}

.footer__informativo__div p {
    margin-left: 20px;
    color: white;
}

.footer__informativo__div a {
    text-decoration: none;
    color: white;
}

.footer__informativo__div__dos a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 10px;
}

.footer__informativo__div__dos a:hover {
    color: rgb(203, 203, 203);
}



@media(max-width:900px) {
    .contenedor-talle-color{
    flex-direction: column-reverse;
    border: solid 2px rgba(255, 255, 255, 0.596);
    border-radius: 10px;
    margin-bottom: 200px;

     
    }
    .talles{
       position: relative;
        margin: 0;
    }
    
   
     

   
}

@media(max-width:900px) {


.footer__div{
    width: 200px;
}

    .div-apoyo-footer{
        justify-content: center;
        margin: auto;
        
    }
}


@media (max-width:690px) {
    .footer {
        justify-content: center;
        align-items: center;

    }

}

@media(max-width:560px) {
    .contenedor {
        background-position: top;
       
        justify-content: space-around;
    }
     
    
    .contenedor-talle-color{
        margin-top: 400px;
        margin-bottom: 0;
      
         
    }
    .logo-boton-ver {
        display: none;
    }

    .logo-boton-ver-mob {
        display: flex;
        flex-direction: column;
    }

    .boton-ver {
        text-align: center;
        width: 50%;
        margin: auto;
    }


    .slider {
        position: relative;
        margin-top: 120%;
        
    }

    .slide img {
        height: 100vw;
    }
    
    .sombra{
        width: 50vw;
    }

    .sombra-blanca{
        width: 50vw;
    }

    

    .colores__item {
        margin: 5px;
        justify-content: center;
        flex-wrap: wrap-reverse
    }


    .footer__informativo__div p {
      font-size: 10px;
    }
   
}

@media(max-width:420px){
    .colores__item {
        margin: 0px;
       
    }

}

/* ---- TIPOGRAFIAS ---- */

@font-face {
    font-family: 'titulo';
    src: url(../assets/klein.condensed-trial-extrabold.ttf);
}

@font-face {
    font-family: 'nike';
    src: url(../assets/jane-roe.bold-italic.ttf);
}