body {
    transition: background-color 0.5s ease;
}

.contenedor {
    background-image: url(../assets/fondo-jordan2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.contenedor-slider {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;



}

.logo-boton-ver {

    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo-boton-ver-mob {
    display: none;
}

.boton-ver {

    text-decoration: none;
    color: black;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
    font-family: sans-serif;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;



}

.slides {
    height: 700px;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
   
   
}

.slide {
    min-width: 100%;
    text-align: center;

}

.slide img {
    transform: rotate(-25deg);
    height: 600px;


}

.sombra {

    width: 35vw;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 0 auto 30px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 10px;


}

.sombra-blanca {
    width: 35vw;
    height: 40px;
    background-color: rgba(255, 251, 251, 0.781);
    margin: 0 auto 30px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 5px rgb(216, 216, 216);
}

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev,
.next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 25px;
    cursor: pointer;
    border-radius: 50%;


}

.contenedor-talle-color{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
   
}

.talles{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-right:79%;

}

.sizes-p{
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    
}

.talles__lista{
    display: flex;
    list-style:none;
    align-items: center;
    flex-wrap: wrap;
   width: 250px;
    
}

.talles__item{
    text-align: center;
    width: 20px;
    color: white;
    margin: 5px;    
    font-size: 15px;
    padding: 14px 14px;
    border-radius: 10px;
    border: 2px solid white;
    
}


.colores__lista {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    


}

.colores__item {

    margin: 0 10px 0 10px;
}

.colores__img {
    height: 35px;
    border-radius: 10px;
    border: solid 2px rgb(175, 172, 172)
}

.brillo {
    box-shadow: 0 0 10px 3px white;
}



@media(max-width:900px) {
    .contenedor-talle-color{
    flex-direction: column-reverse;
    border: solid 2px rgba(255, 255, 255, 0.596);
    border-radius: 10px;

     
    }
    .talles{
       position: relative;
        margin: 0;
    }

   
}

@media(max-width:560px) {
    .contenedor {
        background-position: top;
       
        justify-content: space-around;
    }
     
    
    .contenedor-talle-color{
        margin-top: 400px;
      
         
    }
    .logo-boton-ver {
        display: none;
    }

    .logo-boton-ver-mob {
        display: flex;
        flex-direction: column;
    }

    .boton-ver {
        text-align: center;
        width: 50%;
        margin: auto;
    }



 

    .slider {
        position: relative;
        margin-top: 120%;
        
    }

    .slide img {
        height: 100vw;
    }
    
    .sombra{
        width: 50vw;
    }

    .sombra-blanca{
        width: 50vw;
    }

    

    .colores__item {
        margin: 5px;
        justify-content: center;
        flex-wrap: wrap-reverse
    }

   
}

@media(max-width:420px){
    .colores__item {
        margin: 0px;
       
    }

}